<nav>
  <ul>
    <li><img class="logo" src="<%= relative_url '/images/logo.svg' %>" alt="Logo" style="height: 30px; opacity: 0.8;" /></li>
    <li><a href="<%= relative_url '/' %>">Home</a></li>
    <li><a href="<%= relative_url '/projects' %>">Projects</a></li>
    <li><a href="<%= relative_url '/posts' %>">Posts</a></li>
    <li><a href="<%= relative_url '/garden' %>">Garden</a></li>
    <li><a href="<%= relative_url '/theme' %>">Theme</a></li>
  </ul>
</nav>
